@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

.DefaultTextStyles {
  font-style: normal;
  font-weight: normal;
}

.menu {
  background: #ffffff;
  a {
    font-family: "Montserrat";
    color: #555555 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 50px;
    &:nth-child(1) {
      font-size: 15px !important;
      line-height: 18px !important;
    }
    &:nth-child(2) {
      font-size: 15px !important;
      line-height: 18px !important;
    }
  }
}

.btn-pill {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff6634 !important;
  border: 1px solid #ff6634 !important;
  border-radius: 4px;
}

/**FEATURED REVIEWS*/
.featured {
  h1 {
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
    font-style: normal;
  }
  p {
    @extend .DefaultTextStyles;
    color: #8d8d8d;
    font-size: 14px;
    line-height: 17px;
  }
  &_card {
    background: #ffffff;
    width: 290px;
    height: 220px;
    border: 1px solid #fbfbfb;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    span {
      font-size: 11px;
      line-height: 13px;
      color: #000000 !important;
    }
    p {
      @extend .DefaultTextStyles;
      font-size: 12px;
      line-height: 15px;
      color: #8d8d8d !important;
      width: 183px;
      height: 59px;
      text-align: justify;
    }
    &--mid {
      p {
        color: #ff6634 !important;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        background: rgba(255, 102, 52, 0.05);
        border-radius: 6px;
        width: max-content;
        height: 19px;
        span {
          background: #ffffff !important;
          color: #000000 !important;
          font-weight: 600;
          font-style: normal;
        }
      }
    }
    &--bottom {
      background: #fcfcfc;
      border-radius: 0px 0px 6px 6px;
      width: inherit;
      height: 64px;
      overflow: hidden;
      padding-bottom: 20px;
      box-shadow: 25px 0px 0px 0px #fcfcfc, -25px 0px 0px 0px #fcfcfc;
      img {
        margin-right: 15px;
        margin-top: 10px;
        float: left;
      }
      h5 {
        font-size: 12px;
        //line-height: 15px;
        color: #6c6c6c;
        margin-right: 115px;
        margin-top: 10px;
      }
      p {
        font-size: 11px;
        //line-height: 13px;
        margin-bottom: 20px;
      }
    }
  }
}

/** SUBSCRIBE*/
.subscribe {
  background: #f8f8f8;
  box-shadow: 120px 0px 0px 0px #f8f8f8, -120px 0px 0px 0px #f8f8f8;
  h1 {
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 557px;
    color: #8d8d8d;
  }
  input[type="text"] {
    border-radius: 6px;
    background: #ffffff;
    width: 479px;
    height: 54px;
    border: #ffffff;
    &::placeholder {
      color: #dedede;
      font-size: 15px;
      line-height: 18px;
    }
  }
  button {
    border-radius: 4px;
    background: #ff6634;
    color: #ffffff;
    font-size: 17px;
    line-height: 21px;
    width: 133px;
    height: 54px;
    &:hover {
      color: #ffffff;
    }
  }
  &_mail {
    background-image: url(../assets/mail.png);
    background-repeat: no-repeat;
    background-position: right 45px center;
  }
}

/**COMPANY*/
.comapny {
  padding: 0 0 80px 0;
  &_box {
    max-width: 100% !important;
    height: 3rem !important;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    img {
      height: 100%;
      &:hover {
        filter: grayscale(120);
      }
    }
  }
}

/** MOBILE RESPONSIVENESS*/
@media screen and (max-width: 576px) {
  .menu {
    overflow: hidden !important;
  }
  .btn-pill {
    width: 128px;
    height: 46px;
    margin-right: 2px !important;
  }
}
