@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

.DefaultTextStyles {
  font-style: normal;
  font-weight: normal;
}

/**NAV BAR*/
.menu {
  background: #ffffff;
  a {
    font-family: "Montserrat";
    color: #555555 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 50px;
    &:nth-child(1) {
      font-size: 15px !important;
      line-height: 18px !important;
    }
    &:nth-child(2) {
      font-size: 15px !important;
      line-height: 18px !important;
    }
  }
}

.btn-pill {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff6634 !important;
  border: 1px solid #ff6634 !important;
  border-radius: 4px;
  &:focus {
    box-shadow: none;
  }
}

/**GROW YOUR BUSINESS*/
.grow {
  background: #ffebff;
  height: 650px;
  background-image: url(../assets/lines.png);
  background-repeat: no-repeat;
  background-position: right 100px center;
  background-size: contain;
  background-origin: content-box, padding-box;
  &_box {
    height: inherit;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: right -80px center;
    background-size: contain;
    background-position-y: 50px;
    transition: 3s ease-in-out;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

    @keyframes animate {
      0%,
      90% {
        background-image: url(../assets/pexels-suliman-sallehi-1704488-removebg-preview.png);
        background-size: contain;
      }
      20%,
      39% {
        background-image: url(../assets/hero.png);
        //background-position-y: 50px;
      }
      40%,
      59% {
        background-image: url(../assets/pexels-suliman-sallehi-1704488-removebg-preview.png);
        background-size: contain;
      }
      60%,
      79% {
        background-image: url(../assets/hero.png);
        //background-position-y: 50px;
      }
      80%,
      99% {
        background-image: url(../assets/pexels-suliman-sallehi-1704488-removebg-preview.png);
        background-size: contain;
      }
      100% {
        background-image: url(../assets/hero.png);
      }
    }
    h1 {
      @extend .DefaultTextStyles;
      font-weight: 900;
      font-size: 40px;
      line-height: 49px;
      color: #303030;
      width: 525px !important;
      //height: 98px;
    }
    p {
      @extend .DefaultTextStyles;
      font-size: 16px;
      line-height: 20px;
      color: #747474;
      width: 432px;
    }
    &--input {
      padding: 2px;
      input[type="text"] {
        width: 500px;
        height: 70px;
        background: #ffffff;
        border-radius: 6px;
        border: 1px solid #ffffff;
        outline: 0;
        position: relative;
        flex-grow: 1;
        &::placeholder {
          @extend .DefaultTextStyles;
          font-size: 17px;
          line-height: 21px;
          color: #dedede;
        }
      }
      button {
        position: absolute;
        background: #ff6634;
        border-radius: 4px;
        border: 1px solid #ff6634;
        outline: 0;
        width: 133px;
        height: 58px;
        margin-top: 6px;
        margin-left: 402px;
        font-size: 17px;
        line-height: 21px;
        color: #ffffff;
      }
    }
    &--p {
      @extend .DefaultTextStyles;
      font-size: 16px;
      line-height: 20px;
      color: #747474;
      span {
        &:nth-child(2) {
          color: #ff6634;
          cursor: pointer;
        }
      }
    }
    &--quote {
      margin-left: -60px;
      margin-top: 95px;
      p {
        @extend .DefaultTextStyles;
        font-size: 14px;
        line-height: 17px;
        color: #8d8d8d;
        width: 344px;
        margin: 30px;
      }
    }
  }
}

.leftQuote {
  position: absolute !important;
  top: 36px;
  left: 350px;
}

.rightQuote {
}

/**BACKGROUND IMAGES*/
.bgImage1 {
  bottom: -10%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.bgImage2 {
  top: 25%;
  left: 55%;
}

.bgImage3 {
  top: 32%;
  right: 3%;
}

/**FEATURED REVIEWS*/
.featured {
  h1 {
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
    font-style: normal;
  }
  p {
    @extend .DefaultTextStyles;
    color: #8d8d8d;
    font-size: 14px;
    line-height: 17px;
  }
  &_card {
    background: #ffffff;
    width: 290px;
    height: 220px;
    border: 1px solid #fbfbfb;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    span {
      font-size: 11px;
      line-height: 13px;
      color: #000000 !important;
    }
    p {
      @extend .DefaultTextStyles;
      font-size: 12px;
      line-height: 15px;
      color: #8d8d8d !important;
      width: 183px;
      height: 59px;
      text-align: justify;
    }
    &--mid {
      p {
        color: #ff6634 !important;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        background: rgba(255, 102, 52, 0.05);
        border-radius: 6px;
        width: max-content;
        height: 19px;
        span {
          background: #ffffff !important;
          color: #000000 !important;
          font-weight: 600;
          font-style: normal;
        }
      }
    }
    &--bottom {
      background: #fcfcfc;
      border-radius: 0px 0px 6px 6px;
      width: inherit;
      height: 64px;
      overflow: hidden;
      padding-bottom: 20px;
      box-shadow: 25px 0px 0px 0px #fcfcfc, -25px 0px 0px 0px #fcfcfc;
      img {
        margin-right: 15px;
        margin-top: 10px;
        float: left;
      }
      h5 {
        font-size: 12px;
        //line-height: 15px;
        color: #6c6c6c;
        margin-right: 115px;
        margin-top: 10px;
      }
      p {
        font-size: 11px;
        //line-height: 13px;
        margin-bottom: 20px;
      }
    }
  }
}

/**FEATURES_DOTS*/
.dot1 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  background: #8a8a8a;
  box-sizing: border-box;
  cursor: pointer;
}

.dot2 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #e9e9e9;
  box-sizing: border-box;
  cursor: pointer;
}

/** SUBSCRIBE*/
.sub {
  background: #f8f8f8;
}
.subscribe {
  h1 {
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
    color: #303030;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 557px;
    color: #8d8d8d;
  }
  input[type="text"] {
    border-radius: 6px;
    background: #ffffff;
    width: 479px;
    height: 54px;
    border: #ffffff;
    outline: 0;
    &::placeholder {
      color: #dedede;
      font-size: 15px;
      line-height: 18px;
    }
  }
  button {
    border-radius: 4px;
    background: #ff6634;
    color: #ffffff;
    font-size: 17px;
    line-height: 21px;
    width: 133px;
    height: 54px;
    &:hover {
      color: #ffffff;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &_mail {
    background-image: url(../assets/mail.png);
    background-repeat: no-repeat;
    background-position: right 45px center;
  }
}

/**COMPANY*/
.comapny {
  padding: 0 0 80px 0;
  &_box {
    max-width: 100% !important;
    height: 3rem !important;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    img {
      height: 100%;
      &:hover {
        filter: grayscale(120);
      }
    }
  }
}

/**ADVERT*/
.advert {
  &_card {
    background: #fbfbfb;
    width: 300px !important;
    height: 240px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 4px;
    h1 {
      @extend .DefaultTextStyles;
      font-size: 20px;
      color: #c2c2c2;
      font-weight: 600;
      line-height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/**GET STARTED*/
.getStarted {
  background: #ffebff;
  border: 1px solid #ffebff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 180px;
  h1 {
    font-size: 25px;
    line-height: 30px;
    color: #303030;
  }
  button {
    @extend .DefaultTextStyles;
    background: #ff6634;
    border-radius: 4px;
    height: 54px;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    border: 1px solid #ff6634;
    outline: 0;
    &:hover {
      color: #ffffff;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &_btn {
    background-image: url(../assets/Rectangle39.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

/**FOOTER*/
.footer {
  background: #1f2131;
  &_col1 {
    p {
      color: #ffffff;
      width: 379px;
      font-size: 15px;
      line-height: 145%;
      opacity: 0.6;
    }
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #393c4d;
    }
    &--p {
      font-size: 13px;
      line-height: 145.8%;
      color: #ffffff;
      opacity: 0.4;
    }
  }
  &_col2 {
    color: #ffffff;
    h5 {
      @extend .DefaultTextStyles;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
    }
    h6 {
      font-size: 13px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.6);
      opacity: 0.6;
    }
  }
}

/** MOBILE RESPONSIVENESS*/
@media screen and (max-width: 576px) {
  .menu {
    overflow: hidden !important;
  }
  .btn-pill {
    width: 128px;
    height: 46px;
    margin-right: 2px !important;
  }

  .featured {
    p {
      width: 100%;
      margin: auto;
    }
    &_card {
      width: 80%;
      p {
        margin: 0;
      }
      &--mid {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        p {
          &:nth-child(1) {
            width: auto;
            white-space: nowrap !important;
            margin-right: 100px;
          }
        }
      }
      &--bottom {
        img {
          margin-top: 32px !important;
        }
        h5 {
          margin-top: 31px !important;
          margin-right: 146px !important;
        }
      }
    }
  }

  .subscribe {
    white-space: nowrap !important;
    h1 {
      font-size: 18px;
    }
    p {
      width: 300px !important;
      font-size: 12px;
      padding-left: 7px;
      white-space: break-spaces;
      padding-right: 42px;
      text-align: justify;
    }
    &_row {
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-evenly !important;
      input {
        width: 270px !important;
        margin-right: 30px !important;
      }
      button {
        margin-top: 20px !important;
      }
    }
    &_mail {
      background-position: right 109px center;
      background-size: 172px 128%;
      z-index: 100;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .company {
    &_box {
      display: grid;
      img {
        width: 120px;
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .advert_card {
    margin-bottom: 30px;
  }

  .getStarted {
    height: fit-content;
    &_row {
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-items: center;
    }
    h1 {
      font-size: 12px;
      line-height: normal;
    }
    &_btn {
      background-size: contain;
      background-position: right 100px center;

      margin-top: -80px;
      margin-left: 82px;
      margin-bottom: 30px;
      button {
        width: 120px !important;
        white-space: nowrap;
        font-size: 10px;
        padding-left: 9px !important;
        padding-right: 10px !important;
      }
    }
  }
  .footer {
    &_col1 {
      p {
        font-size: 11px;
        width: 100%;
        margin: 0px;
        text-align: justify;
        margin-top: -100px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .App {
    overflow: hidden;
  }

  .featured {
    p {
      width: 90%;
      margin: auto;
    }
    &_card {
      width: 90%;
      p {
        margin: 0;
      }
      &--mid {
      }
      &--bottom {
        img {
          margin-top: 30px !important;
        }
        h5 {
          margin-top: 28px !important;
          margin-right: 310px !important;
        }
      }
    }
  }
}
