@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

.App {
  font-family: "Montserrat";
}

.secondP {
  background: #ffffff !important;
  border-radius: 0px !important;
}

.blockquote {
  max-width: 344px;
  margin: 0px 0px;
  padding-right: 10px;
  box-sizing: border-box;
}

.blockquote_text {
  margin: 0;
}

.blockquote_text:not(:last-child) {
  margin-bottom: 16px;
}

.blockrightQuote {
  text-align: right;
}

.blockquote--quoted::before {
  content: url(/src/assets/quote.svg);
}

@media screen and (max-width: 576px) {
  .App {
    overflow: hidden !important;
  }

  .featuredBottom {
    white-space: nowrap;
    background: none !important;
    box-shadow: none !important;
  }

  .footer_copy {
    text-align: center !important;
    margin-top: 5px !important;
  }
  .footer_socials {
    margin-bottom: 20px !important;
    justify-content: center;
  }
  .alreadySignedIn {
    font-size: 12px !important;
  }
  .rightQuote {
    margin: auto !important;
    margin-left: -21px !important;
  }
}

@media screen and (max-width: 720px) {
  .App {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .App {
    overflow: hidden;
  }
  .mobile-toggle {
    display: none;
  }
  .mobile-collapse {
    display: flex !important;
    flex-direction: row;
  }
  .mobile {
    display: contents;
  }
  .bgImage2 {
    position: absolute !important;
    left: 82% !important;
    top: 15% !important;
  }

  .footer_img {
    margin-left: 32px !important;
  }
  .rightQuoteB {
    margin: auto !important;
    margin-left: -21px !important;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    overflow: hidden;
  }
  /*.footerSocials {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 32px !important;
  }*/
}

@media screen and (max-width: 767px) {
  .mobile-toggle {
    display: block;
  }
  .mobile-collapse {
    display: inline !important;
    /*flex-direction: row;*/
  }
  .mobile {
    display: grid;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .App {
    overflow: hidden;
  }

  .Quote {
    margin: 3px !important;
  }

  .rightQuoteB {
    margin: auto !important;
    margin-left: -21px !important;
  }
}
