@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

.App {
  font-family: "Montserrat";
}

.secondP {
  background: #ffffff !important;
  border-radius: 0px !important;
}

.blockquote {
  max-width: 344px;
  margin: 0px 0px;
  padding-right: 10px;
  box-sizing: border-box;
}

.blockquote_text {
  margin: 0;
}

.blockquote_text:not(:last-child) {
  margin-bottom: 16px;
}

.blockrightQuote {
  text-align: right;
}

.blockquote--quoted::before {
  content: url(/src/assets/quote.svg);
}

@media screen and (max-width: 576px) {
  .App {
    overflow: hidden;
  }
}

@media screen and (max-width: 720px) {
  .App {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .App {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    overflow: hidden;
  }
}
